/* ===============================
   VIEW IDE FULLSCREEN
=================================*/

#viewIDE {
  height: calc(100vh - 60px);
  /* ajusta si tu navbar mide diferente */
  width: 100%;
  display: none;
}

#viewIDE.active {
  display: block;
}

#ideWrapper {
  height: 80%;
  width: 100%;
  padding: 10px;
  /* separación lateral */
  box-sizing: border-box;
}

#ideContainer {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
}


#editorSection {
  height: 65%;
  min-height: 200px;
  border-bottom: 3px solid #2c2c2c;
  /* separación visual */
}

#divider {
  height: 6px;
  background: #333;
  cursor: row-resize;
}

#divider:hover {
  background: #007acc;
}

#terminalSection {
  flex: 1;
  background: black;
}